
html{
background-image:url('background.jpg');
font-family: Arial,sans-serif;
font-size:160%;
color:#ffffff;
}

h1{
font-family:Arial,sans-serif;
font-size:160%;
color: #ffffff;
}

a{
color: #b70000;
}

